body
{
  background-color:#ffc2c2;
}

.top-container
{
  background-color:#fde2e2;
}

h1{
  font-family: 'Carter One', cursive;
  font-size: 50px;
  color:#010a43;
}
h3
{
  font-family: 'Quantico', sans-serif;
  color: #ff9d9d;
}
